@media screen and (max-width: 767px) {
  .button-heder-mob-menu {
    padding: 0;
    border: 0;
    background: none;
    width: 32px;
    height: 22px;
  }

  .menu-toggle {
    padding: 0;
  }

  .header-nav {
    width: 100%;
    max-width: 428px;
    justify-content: space-between;
  }

  .mob-menu {
    height: 100%;
    width: 100vw;
    background: var(--color-title-write);
    position: fixed;
    z-index: 9999;
    top: 0;
    padding: 80px 35px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  .mob-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--title-color-text);
    text-decoration: none;
  }

  .mob-menu-nav-link:hover,
  .mob-menu-nav-link:focus {
    color: var(--color-button-hover);
  }

  .mob-menu-nav-item {
    margin-bottom: 40px;
  }

  .mob-menu-address-link-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--color-button);
    text-decoration: none;
  }

  .mob-menu-address-link-tel:hover,
  .mob-menu-address-link-tel:focus {
    color: var(--color-button-hover);
  }

  .mob-menu-address-link-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: var(--color-text);
    text-decoration: none;
  }

  .mob-menu-address-link-email:hover,
  .mob-menu-address-link-email:focus {
    color: var(--color-button-hover);
  }

  .mob-menu-address-item {
    margin-bottom: 40px;
  }
  .mob-menu-address-list {
    margin-bottom: 48px;
  }

  .mob-menu-list-soc {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    margin-bottom: 40px;
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .no-scroll {
    overflow: hidden;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
  .form-input {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-tab-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-item {
    width: 356px;
  }

  .working-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-list {
    column-gap: 24px;
  }

  .customers-icon {
    width: 104px;
  }

  .footer-flex {
    column-gap: 24px;
    justify-content: flex-start;
    padding-left: 108px;
    text-align: start;
  }
  .footer-box {
    text-align: inherit;
  }
  .footer-soc {
    text-align: inherit;
  }

  .footer-subscribe {
    text-align: inherit;
    width: 453px;
  }
  .footer-subscribe-form {
    gap: 24px;
  }

  .button-heder-mob-menu {
    display: none;
  }

  .form-input {
    width: 264px;
  }

  .header-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .mob-menu {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .nav-address-list {
      display: block;
      padding: 16px 16px 16px 0;
    }

    .nav-address-link {
      padding-bottom: 12px;
      padding-top: 0;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
    }

    .header-nav {
      align-items: flex-end;
    }
    .header-nav-link {
      padding-top: 0;
    }
    .active::after {
      bottom: -1px;
    }
    .header-container-item {
      height: 72px;
      flex-wrap: inherit;
      align-items: flex-start;
    }
    .logo {
      margin-right: 120px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    width: 100%;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-pc-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-pc-2x.jpg);
    }
  }

  .footer-flex {
    width: 1158px;
    padding: 0;
    gap: 0;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-feature {
    padding-bottom: 0;
  }
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }

  .feature-icon {
    display: block;
    background-color: var(--color-button-portfolio);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .feature-icon-item {
    width: 64px;
    height: 64px;
  }
  .feature-item {
    width: 264px;
  }

  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }

  .section-what {
    display: block;
  }

  .working-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color-text);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
  }
  .working-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-list {
    gap: 24px;
  }

  .customers-list {
    gap: 24px;
  }
  .customers-link {
    width: 168px;
  }

  .customers-icon {
    width: 104px;
  }

  .footer-box {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-soc {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-style {
    padding: 100px 0;
  }

  .form-input {
    width: 264px;
    padding-left: 24px;
  }

  .header-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .nav-address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .button-heder-mob-menu {
    display: none;
  }
  .mob-menu {
    display: none;
  }
}
